/* stylelint-disable scss/at-rule-no-unknown */
@tailwind base;
@tailwind components;
@tailwind utilities;

/* @font-face {
  font-family: "GillSans";
  src:
    local("gillsans"),
    url("./fonts/gillsans/gillsans.ttf") format('truetype');
} */

/* @import url('https://fonts.googleapis.com/css2?family=Lato&display=swap'); */

/* root: {
  --lato: 'Lato', sans-serif;
} */

body {
  margin: 0;
  font-family:
    /* 'GillSans', */
    /* 'Lato', */
    -apple-system,
    BlinkMacSystemFont,
    'Segoe UI',
    'Roboto',
    'Oxygen',
    'Ubuntu',
    'Cantarell',
    'Fira Sans',
    'Droid Sans',
    'Helvetica Neue',
    sans-serif;
  -webkit-font-smoothing: antialiased;
  -moz-osx-font-smoothing: grayscale;

  /* color: white; */
}

code {
  font-family:
    source-code-pro,
    Menlo,
    Monaco,
    Consolas,
    'Courier New',
    monospace;
}
